body {
    background-color: black;
}

.cat-nav li.active a,
.cat-nav li:hover a {
    background-color: white;
    color: black;
}

.cat-nav li a {
    padding: 10px 20px !important;
    transition: 0.3s;
    color: white;
    text-decoration: none;
}


.home-header {
    background-image: url(../img/header-img.png);
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-t1 {
    font-weight: 800;
    font-size: 82px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-t1 span {
    color: #FFC700;
}

.header-t2 {
    font-size: 24px;
    font-weight: 400;
    color: #A8A8A8;
}

.header-btn1 {
    background-color: #FFC700;
    border: none;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: 800;
}

.s2 .t1 {
    margin: 0;
    font-weight: 600;
    font-size: 48px;
    color: white;
}

.s2 .t1 span {
    color: #FFC700;
    ;
}

.s2 .t2 {
    font-size: 32px;
    font-weight: 300;
    color: #B8B8B8;
}

.mycarousel .wrapper {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.mycarousel .wrapper .c-item {
    scroll-snap-align: start;
}

.mycarousel .wrapper::-webkit-scrollbar {
    display: none;
}

.mycarousel .carousel-btn {
    background-color: transparent !important;
    position: relative;
    border: none;
    /* background-color: red; */
    width: 120px;
}

.mycarousel .carousel-btn::after {
    position: absolute;
    content: '';
    width: 35px;
    height: 35px;
    left: 10px;
    top: 50%;
    transform: rotate(45deg);
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}

.mycarousel .carousel-btn.right::after {
    transform: rotate(-135deg);
}

.s3 {

    .t1 {
        font-size: 72px;
        font-weight: 700;
        color: white;

        .yellow {
            color: #FFC700;
        }
    }

    .t2 {
        font-size: 32px;
        font-weight: 300;
        color: #949494;
    }

    .mini-nav button {
        background-color: transparent;
        border: none;
        color: #FFFFFF;
        padding: 5px 10px;
        transition: 0.3s;
        font-size: 24px;

        &.active,
        &:hover {
            background-color: #FFC700;
            color: black;
            box-shadow: 0px 0px 2px 1px #FFC700;
        }
    }

    .product-name {
        font-size: 20px;
        font-weight: 300;
        color: #FFFFFF;
    }

    .product-price {
        font-size: 24px;
        font-weight: 700;
        color: #F0F0F0;
    }

    .product a {
        text-decoration: none;
    }

}


.s4 {

    .t1 {
        font-weight: 700;
        font-size: 72px;
        color: white;

        span {
            color: #FFC700;
        }
    }

    .t2 {
        font-size: 32px;
        font-weight: 300;
        color: #949494;
    }

    .catalog-card {
        background-color: #101010;

        .product-name {
            font-size: 32px;
            font-weight: 700;
            color: white;
        }

        .label {
            font-size: 14px;
            font-weight: 300;
            color: #FFC700;
        }
    }
}


.s5 {

    .t1 {
        font-size: 48px;
        font-weight: 600;
        color: white;

        span {
            color: #FFC700;
        }
    }

    .t2 {
        font-size: 32px;
        font-weight: 300;
        color: #949494;
    }

    .yt-video {
        width: 100%;
        height: 600px;
    }
}

.s6 {

    .t1 {
        font-size: 72px;
        font-weight: 700;
        color: white;

        span {
            color: #FFC700;
        }
    }


    .t2 {
        font-size: 32px;
        font-weight: 300;
        color: #949494;
    }

    .contact-form input {
        background-color: #111111;
        border: none;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        transform: skew(-10deg);
    }

    .contact-form input::placeholder {
        color: #FFC700;
        font-size: 16px;
    }

    .contact-form input:focus {
        outline: 1px solid #FFC700;
    }

    .contact-form button {
        padding: 10px 15px;
        background-color: #FFC700;
        color: black;
        border: none;
        font-size: 18px;
        font-weight: 800;
        box-shadow: 0px 0px 4px 1px #FFC700;
    }

    .contact-btn {
        display: block;
        border: none;
        background-color: #FFC700;
        padding: 5px;
        width: 40px;
        height: 40px;
        border-radius: 5px;
    }
}

.mynav {

    * {
        color: white;
    }

    .nav-search-form input {
        background-color: transparent;
        border-radius: 50px;
        color: white;
        padding: 10px 20px 10px 40px;
        border: 2px solid white;
        overflow: hidden;

        &::placeholder {
            color: white;
        }
    }

    .nav-search-form button {
        border: none;
        background-color: transparent;
        width: 40px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 20px;
            height: 20px;
        }
    }

    .languages a {
        color: gray !important;

        &.active {
            color: white !important;
        }

        &:hover {
            color: white;
            text-shadow: 0 0 5px white;
        }

    }

    .vertical-divider {
        height: 50%;
        width: 2px;
        background-color: white;
    }
}

.categories {

    .cat-title {
        color: white;
        font-weight: 700;
        font-size: 48px;

        span {
            color: #FFC700;
        }
    }

    .cat-subtitle {
        color: #949494;
        font-weight: 300;
        font-size: 32px;
    }

    .product-name {
        font-size: 20px;
        font-weight: 300;
        color: #FFFFFF;
    }

    .product-price {
        font-size: 24px;
        font-weight: 700;
        color: #F0F0F0;
    }

    .product a {
        text-decoration: none;
    }

    .my-pagination {
        .page-item a {
            background-color: #252525;
            border: none;
            color: white;
            font-size: 24px;
            font-weight: 500;
            min-width: 50px;
            min-height: 40px;
            text-align: center;

            &.active {
                 transform: scale(1.2);
                background-color: #FFC700;
                color: black;
            }

            &:where(.left, .right) {
                background-color: transparent !important;
            }
        }
    }
}

.filter-form {
        label {
            color: white;
            font-weight: 400;
            font-size: 20px;
            margin-right: 10px;
        }

        select {
            background-color: #FFC700;
            padding: 5px 10px;
            transform: skew(-10deg);
        }

        .number-inp{
            background-color: #FFC700;
            border: none;
            width: 80px;
            padding: 5px 15px;

            &:focus{
                outline: none;
            
            }
        }

        .buy-btn{
            color: #FFC700;
            background-color: transparent;
            border: 2px solid #FFC700;
            font-size: 18px;
            font-weight: 700;
            padding: 15px 40px;
            transition: 0.3s;

            &:hover{
                background-color: #FFC700;
                color: black;
            }
        }

        .like-btn{
            color: white;
        }
    }

.mybreadcrumb .breadcrumb-item a {
    font-size: 16px;
    font-weight: 300;
    color: #A4A4A4;
    text-decoration: none;
    text-transform: lowercase;
}

.mybreadcrumb .breadcrumb-item.active a {
    color: #FFC700 !important;
}

.product-detail{

    .name {
        font-size: 64px;
        font-weight: 700;
        color: white;
    }

    .tags{
        font-size: 24px;
        font-weight: 400;
        color: #B5B5B5;
    }

    .price{
        color: #FFC700;
        font-size: 48px;
        font-weight: 600;

    }

    .rating {
        color: #F0F0F0;

        .active{
            color:#FFC700;
        }
    }

    .desc-title{
        font-size: 36px;
        font-weight: 700;
        color: white;
    }

    .decription{
        font-size: 24px;
        font-weight: 400;
        color: #A5A5A5;
    }
}

.comments{

    .title{
        font-size: 36px;
        font-weight: 700;
        color: white;
    }

    .profile-img{
        width: 150px !important;
    }

    .name{
        font-size: 24px;
        font-weight: 600;
        color: white;
    }

    .rating {
        color: #F0F0F0;

        .active{
            color:#FFC700;
        }

    }

    .content{
        font-size: 20px;
        font-weight: 400;
        color: #A5A5A5;
    }

    .leave-comment-btn{
        background-color: transparent;
        color: #FFC700;
        font-size: 16px;
        border: 2px solid #FFC700;
        padding: 0 20px;
        transition: 0.3s;

        &:hover{
            background-color: #FFC700;
            color: black;
        }
    }
} 

.recommandations{
    h5{
        font-size: 36px;
        font-weight: 700;
        color: white;
    }

    .product-name {
        font-size: 20px;
        font-weight: 300;
        color: #FFFFFF;
    }

    .product-price {
        font-size: 24px;
        font-weight: 700;
        color: #F0F0F0;
    }

    .product a {
        text-decoration: none;
    }
}