{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% include 'components/navbar.html' %}
  {% include 'components/category-nav.html' %}

  <div class="container">
    <nav aria-label="breadcrumb" class="justify-content-center d-flex mybreadcrumb mt-5">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Каталог</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Худи</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <a href="">желтое худи</a>
        </li>
      </ol>
    </nav>

    <div class="row product-detail">
      <div class="col-6">
        <img class="img-fluid w-100" src="{% static 'img/carousel-item.png' %}" alt="" />
      </div>
      <div class="col-6 d-flex flex-column justify-content-center pb-4">
        <h3 class="name mb-0">Желтое худи</h3>
        <p class="tags">худи, одежда</p>
        <div class="rating d-flex gap-2">
          <svg class="active" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg class="active" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg class="active" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg class="active" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
        </div>
        <p class="price mt-4">1199.00 грн</p>
        <form action="" class="filter-form">
          <div class="d-flex gap-3">
            <div class="d-flex">
              <label for="">Размер:</label>
              <select name="" id="">
                <option value="">XL</option>
                <option value="">XL</option>
                <option value="">XL</option>
                <option value="">XL</option>
              </select>
            </div>
            <div class="d-flex">
              <label for="">Цвет:</label>
              <select name="" id="">
                <option value="">Белый</option>
                <option value="">Желтый</option>
                <option value="">Красный</option>
              </select>
            </div>
            <div class="d-flex">
              <label for="">Количество:</label>
              <input type="number" class="number-inp" name="" max="100" min="0" id="" />
            </div>
          </div>
          <div class="mt-5 d-flex gap-4 align-items-center">
            <button type="submit" class="buy-btn">КУПИТЬ</button>
            <div>
              <a class="like-btn" href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                </svg>
              </a>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12">
        <h5 class="desc-title">Описание</h5>
        <p class="decription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex optio atque alias, labore sit repellat eius blanditiis iste aliquid eveniet, eaque facilis officiis architecto, enim ducimus provident quis. Voluptatibus recusandae et distinctio est, numquam dolore pariatur mollitia eum dolor! Exercitationem sequi adipisci, reiciendis provident cum laboriosam numquam laudantium iusto voluptatum ipsa porro sint! Aspernatur esse unde nesciunt tenetur veniam saepe magni voluptatibus temporibus iste recusandae adipisci, autem possimus culpa porro a reiciendis harum impedit ipsa inventore quia laboriosam! Sapiente nisi, minima adipisci quae obcaecati, rerum quaerat labore error blanditiis praesentium facere quo sint consectetur delectus? Ipsa blanditiis consequuntur quidem sunt.</p>
      </div>
    </div>

    <div class="row comments mt-5 pt-5">
        <div class="d-flex mb-5 gap-4">
            <h5 class="title">Отзывы</h5>
            <button type="button" class="leave-comment-btn">Оставить отзыв</button>
        </div>

      <div class="col-12 d-flex my-4">
        <div>
          <img class="img-fluid profile-img" src="{% static 'img/profile.png' %}" alt="" />
        </div>
        <div class="ps-4">
          <p class="name">Дмитрий Милен</p>
          <div>
            <div class="rating d-flex gap-2">
              <svg class="active" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
              </svg>
              <svg class="active" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
              </svg>
              <svg class="active" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
              </svg>
              <svg class="active" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
              </svg>
              <svg class="active" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
              </svg>
            </div>
          </div>
          <p class="content mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet aperiam consectetur delectus sit nihil quidem est dignissimos atque, corporis officia molestiae illum perspiciatis perferendis natus ex, quis suscipit autem ipsa!</p>
        </div>
      </div>
      <div class="col-12 d-flex my-4">
        <div>
          <img class="img-fluid profile-img" src="{% static 'img/profile.png' %}" alt="" />
        </div>
        <div class="ps-4">
          <p class="name">Дмитрий Милен</p>
          <div>
            <div class="rating d-flex gap-2">
              <svg class="active" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
              </svg>
              <svg class="active" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
              </svg>
              <svg class="active" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
              </svg>
              <svg class="active" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
              </svg>
              <svg class="active" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
              </svg>
            </div>
          </div>
          <p class="content mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet aperiam consectetur delectus sit nihil quidem est dignissimos atque, corporis officia molestiae illum perspiciatis perferendis natus ex, quis suscipit autem ipsa!</p>
        </div>
      </div>
      <div class="col-12 d-flex my-4">
        <div>
          <img class="img-fluid profile-img" src="{% static 'img/profile.png' %}" alt="" />
        </div>
        <div class="ps-4">
          <p class="name">Дмитрий Милен</p>
          <div>
            <div class="rating d-flex gap-2">
              <svg class="active" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
              </svg>
              <svg class="active" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
              </svg>
              <svg class="active" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
              </svg>
              <svg class="active" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
              </svg>
              <svg class="active" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
              </svg>
            </div>
          </div>
          <p class="content mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet aperiam consectetur delectus sit nihil quidem est dignissimos atque, corporis officia molestiae illum perspiciatis perferendis natus ex, quis suscipit autem ipsa!</p>
        </div>
      </div>
      <div class="col-12 d-flex my-4">
        <div>
          <img class="img-fluid profile-img" src="{% static 'img/profile.png' %}" alt="" />
        </div>
        <div class="ps-4">
          <p class="name">Дмитрий Милен</p>
          <div>
            <div class="rating d-flex gap-2">
              <svg class="active" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
              </svg>
              <svg class="active" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
              </svg>
              <svg class="active" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
              </svg>
              <svg class="active" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
              </svg>
              <svg class="active" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
              </svg>
            </div>
          </div>
          <p class="content mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet aperiam consectetur delectus sit nihil quidem est dignissimos atque, corporis officia molestiae illum perspiciatis perferendis natus ex, quis suscipit autem ipsa!</p>
        </div>
      </div>

      
    </div>

    <div class="row recommandations mt-5 pt-5">
        <h5>Рекомендуем вам</h5>

        <div class="col-3 p-3 product">
        <a href="">
          <div class="p-4 pb-2">
            <img class="img-fluid w-100" src="{% static 'img/t-shirt.png' %}" alt="" />
          </div>
          <p class="product-name text-center mt-2 mb-0">Футболка Белая</p>
          <p class="product-price text-center">230₴</p>
        </a>
      </div>
      <div class="col-3 p-3 product">
        <a href="">
          <div class="p-4 pb-2">
            <img class="img-fluid w-100" src="{% static 'img/t-shirt.png' %}" alt="" />
          </div>
          <p class="product-name text-center mt-2 mb-0">Футболка Белая</p>
          <p class="product-price text-center">230₴</p>
        </a>
      </div>
      <div class="col-3 p-3 product">
        <a href="">
          <div class="p-4 pb-2">
            <img class="img-fluid w-100" src="{% static 'img/t-shirt.png' %}" alt="" />
          </div>
          <p class="product-name text-center mt-2 mb-0">Футболка Белая</p>
          <p class="product-price text-center">230₴</p>
        </a>
      </div>
      <div class="col-3 p-3 product">
        <a href="">
          <div class="p-4 pb-2">
            <img class="img-fluid w-100" src="{% static 'img/t-shirt.png' %}" alt="" />
          </div>
          <p class="product-name text-center mt-2 mb-0">Футболка Белая</p>
          <p class="product-price text-center">230₴</p>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
