{% extends 'base.html' %}
{%load static%}

{% block content %}
  <div class="container-fluid home-header">
    <div class="container">
      {% include 'components/category-nav.html' %}
      <div class="w-50 pt-5 mt-4">
        <div class="mt-5 d-flex flex-column gap-3">
            <h1 class="header-t1">masons <span class="yellow">branding</span> wordshop</h1>
            <p class="header-t2 pe-5">Высококачественная печать <br> Брендирование одежды и аксессуаров</p>
            <div>
                <button class="header-btn1">Каталог</button>
            </div>
        </div>
      </div>
    </div>
  </div>

  <section class="container s2 py-5 my-5">
    <h5 class="t1"><span class="yellow">Пример</span> печати</h5>
    <p class="t2">Это может быть на тебе</p>
    <div id="carousel1" class="mycarousel container-fluid d-flex">
      <button class="carousel-btn left" target='carousel1' onclick="scrolltoLeft(this)"></button>
      <div class="wrapper d-flex flex-row">
        <div class="c-item col-4">
          <img class="img-fluid" src="{% static 'img/carousel-item.png' %}" alt="">
        </div>
        <div class="c-item col-4">
          <img class="img-fluid" src="{% static 'img/carousel-item.png' %}" alt="">
        </div>
        <div class="c-item col-4">
          <img class="img-fluid" src="{% static 'img/carousel-item.png' %}" alt="">
        </div>
        <div class="c-item col-4">
          <img class="img-fluid" src="{% static 'img/carousel-item.png' %}" alt="">
        </div>
        <div class="c-item col-4">
          <img class="img-fluid" src="{% static 'img/carousel-item.png' %}" alt="">
        </div>
        <div class="c-item col-4">
          <img class="img-fluid" src="{% static 'img/carousel-item.png' %}" alt="">
        </div>       
      </div>
      <button class="carousel-btn right" target='carousel1' onclick="scrolltoRight(this)"></button>
    </div>
  </section>


  <section class="container s3 py-5 my-5">
      <h5 class="t1 text-center">Топ про<span class="yellow">даж</span></h5>
      <p class="t2 text-center">То, что вам нравиться</p>

      <div class="mini-nav">
        <ul class="d-flex list-unstyled justify-content-center">
          <li><button type="button" class="active">Все</button></li>
          <li><button type="button">Кружки</button></li>
          <li><button type="button">Кружки</button></li>
          <li><button type="button">Кружки</button></li>
          <li><button type="button">Кружки</button></li>
          <li><button type="button">Кружки</button></li>
          <li><button type="button">Кружки</button></li>
          <li><button type="button">Кружки</button></li>
        </ul>
      </div>

      <div class="row">
        <div class="col-3 p-3 product">
          <a href="">
            <div class="p-4 pb-2">
              <img class="img-fluid w-100" src="{%static 'img/t-shirt.png' %}" alt="">
            </div>
            <p class="product-name text-center mt-2 mb-0">Футболка Белая</p>
            <p class="product-price text-center">230₴</p>
          </a>
        </div>
        <div class="col-3 p-3 product">
          <a href="">
            <div class="p-4 pb-2">
              <img class="img-fluid w-100" src="{%static 'img/t-shirt.png' %}" alt="">
            </div>
            <p class="product-name text-center mt-2 mb-0">Футболка Белая</p>
            <p class="product-price text-center">230₴</p>
          </a>
        </div>
        <div class="col-3 p-3 product">
          <a href="">
            <div class="p-4 pb-2">
              <img class="img-fluid w-100" src="{%static 'img/t-shirt.png' %}" alt="">
            </div>
            <p class="product-name text-center mt-2 mb-0">Футболка Белая</p>
            <p class="product-price text-center">230₴</p>
          </a>
        </div>
        <div class="col-3 p-3 product">
          <a href="">
            <div class="p-4 pb-2">
              <img class="img-fluid w-100" src="{%static 'img/t-shirt.png' %}" alt="">
            </div>
            <p class="product-name text-center mt-2 mb-0">Футболка Белая</p>
            <p class="product-price text-center">230₴</p>
          </a>
        </div>
      </div>

  </section>

  <section class="container s4">
    <h5 class="t1 text-center">Ката<span>лог</span></h5>
    <p class="t2 text-center">Выбирай всё что по душе</p>

    <div class="row">
      <div class="col-4 p-2">
        <div class=" catalog-card p-5 m-2">
          <img class="img-fluid w-100" src="{% static 'img/t-shirt.png' %}" alt="">
          <p class="product-name text-center m-0 mt-2">Футболка</p>
          <p class="label text-center m-0">Эко материалы</p>
        </div>
      </div>
      <div class="col-4 p-2">
        <div class=" catalog-card p-5 m-2">
          <img class="img-fluid w-100" src="{% static 'img/t-shirt.png' %}" alt="">
          <p class="product-name text-center m-0 mt-2">Футболка</p>
          <p class="label text-center m-0">Эко материалы</p>
        </div>
      </div>
      <div class="col-4 p-2">
        <div class=" catalog-card p-5 m-2">
          <img class="img-fluid w-100" src="{% static 'img/t-shirt.png' %}" alt="">
          <p class="product-name text-center m-0 mt-2">Футболка</p>
          <p class="label text-center m-0">Эко материалы</p>
        </div>
      </div>
      <div class="col-4 p-2">
        <div class=" catalog-card p-5 m-2">
          <img class="img-fluid w-100" src="{% static 'img/t-shirt.png' %}" alt="">
          <p class="product-name text-center m-0 mt-2">Футболка</p>
          <p class="label text-center m-0">Эко материалы</p>
        </div>
      </div>
      <div class="col-4 p-2">
        <div class=" catalog-card p-5 m-2">
          <img class="img-fluid w-100" src="{% static 'img/t-shirt.png' %}" alt="">
          <p class="product-name text-center m-0 mt-2">Футболка</p>
          <p class="label text-center m-0">Эко материалы</p>
        </div>
      </div>
      <div class="col-4 p-2">
        <div class=" catalog-card p-5 m-2">
          <img class="img-fluid w-100" src="{% static 'img/t-shirt.png' %}" alt="">
          <p class="product-name text-center m-0 mt-2">Футболка</p>
          <p class="label text-center m-0">Эко материалы</p>
        </div>
      </div>
      <div class="col-4 p-2">
        <div class=" catalog-card p-5 m-2">
          <img class="img-fluid w-100" src="{% static 'img/t-shirt.png' %}" alt="">
          <p class="product-name text-center m-0 mt-2">Футболка</p>
          <p class="label text-center m-0">Эко материалы</p>
        </div>
      </div>
      <div class="col-4 p-2">
        <div class=" catalog-card p-5 m-2">
          <img class="img-fluid w-100" src="{% static 'img/t-shirt.png' %}" alt="">
          <p class="product-name text-center m-0 mt-2">Футболка</p>
          <p class="label text-center m-0">Эко материалы</p>
        </div>
      </div>
      <div class="col-4 p-2">
        <div class=" catalog-card p-5 m-2">
          <img class="img-fluid w-100" src="{% static 'img/t-shirt.png' %}" alt="">
          <p class="product-name text-center m-0 mt-2">Футболка</p>
          <p class="label text-center m-0">Эко материалы</p>
        </div>
      </div>
      
    </div>
  </section>

  <section class="container s5 py-5 my-5">
    <h5 class="t1">Ещё есть <span>сомнения?</span></h5>
    <p class="t2">Тогда посмотри это видео и сам всё поймёшь</p>
    <div>
      <iframe class="yt-video" src="https://www.youtube.com/embed/2Vo0lhfE8Jo?si=55-Tv6mu_vLSanA_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </section>

  <section class="container s6 py-5 my-5">
    <h2 class="t1 text-center">Свяжитесь с <span>нами</span></h2>
    <p class="t2 text-center">Это бысто и удобно</p>

    <div class="row mt-5 pt-5">
      <div class="col-6">
        <form class="contact-form pe-5">
          <div class="d-flex flex-column pe-5 gap-4">
            <input type="text" placeholder="Ваше имя">
            <input type="email" placeholder="Email">
            <input type="text" placeholder="Телефон">
            <input type="text" placeholder="Примечание">
          </div>
          <button type="submit" class="mt-4">Отправить</button>
        </form>
        <div class="d-flex mt-4 gap-3">
          <a class="contact-btn p-2" target="_blank" href="https://t.me/umarhoshimov"><img class="img-fluid w-100" src="{%static 'img/tg.png' %}" alt=""></a>
          <a class="contact-btn p-2" href=""><img class="img-fluid w-100" src="{%static 'img/viber 1.png' %}" alt=""></a>
        </div>
      </div>
      <div class="col-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11990.037790391485!2d69.17921928228375!3d41.29777964236869!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1748846126314!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </section>
{% endblock %}
