{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% include 'components/navbar.html' %}
  {% include 'components/category-nav.html' %}

  <div class="container content mycart py-5">
    <h5 class="title text-center">Корзина</h5>

    <div class="row list">
      <div class="col-12">
        <table class="w-100">
          <tr class="product-item">
            <td class="text-center py-4">
              <img src="{% static 'img/t-shirt.png' %}" class="img-fluid product-img" alt="" />
            </td>
            <td class="py-4">
              <p class="name mb-0">Желтое худи</p>
              <p class="categories">худи, одежда</p>
            </td>
            <td class="py-4">
              <form action="" class="filter-form">
                <div class="d-flex gap-5">
                  <div class="d-flex">
                    <select name="" id="">
                      <option value="">XL</option>
                      <option value="">XL</option>
                      <option value="">XL</option>
                      <option value="">XL</option>
                    </select>
                  </div>
                  <div class="d-flex">
                    <select name="" id="">
                      <option value="">Белый</option>
                      <option value="">Желтый</option>
                      <option value="">Красный</option>
                    </select>
                  </div>
                  <div class="d-flex">
                    <input type="number" class="number-inp" name="" max="100" min="0" id="" />
                  </div>
                </div>
              </form>
            </td>
            <td class="position-relative py-4">
              <p class="price mt-4">1199.00 грн</p>
              <button class="btn-close cancel-btn position-absolute"></button>
            </td>
          </tr>
          <tr class="product-item">
            <td class="text-center py-4">
              <img src="{% static 'img/t-shirt.png' %}" class="img-fluid product-img" alt="" />
            </td>
            <td class="py-4">
              <p class="name mb-0">Желтое худи</p>
              <p class="categories">худи, одежда</p>
            </td>
            <td class="py-4">
              <form action="" class="filter-form">
                <div class="d-flex gap-5">
                  <div class="d-flex">
                    <select name="" id="">
                      <option value="">XL</option>
                      <option value="">XL</option>
                      <option value="">XL</option>
                      <option value="">XL</option>
                    </select>
                  </div>
                  <div class="d-flex">
                    <select name="" id="">
                      <option value="">Белый</option>
                      <option value="">Желтый</option>
                      <option value="">Красный</option>
                    </select>
                  </div>
                  <div class="d-flex">
                    <input type="number" class="number-inp" name="" max="100" min="0" id="" />
                  </div>
                </div>
              </form>
            </td>
            <td class="position-relative py-4">
              <p class="price mt-4">1199.00 грн</p>
              <button class="btn-close cancel-btn position-absolute"></button>
            </td>
          </tr>
          <tr class="product-item">
            <td class="text-center py-4">
              <img src="{% static 'img/t-shirt.png' %}" class="img-fluid product-img" alt="" />
            </td>
            <td class="py-4">
              <p class="name mb-0">Желтое худи</p>
              <p class="categories">худи, одежда</p>
            </td>
            <td class="py-4">
              <form action="" class="filter-form">
                <div class="d-flex gap-5">
                  <div class="d-flex">
                    <select name="" id="">
                      <option value="">XL</option>
                      <option value="">XL</option>
                      <option value="">XL</option>
                      <option value="">XL</option>
                    </select>
                  </div>
                  <div class="d-flex">
                    <select name="" id="">
                      <option value="">Белый</option>
                      <option value="">Желтый</option>
                      <option value="">Красный</option>
                    </select>
                  </div>
                  <div class="d-flex">
                    <input type="number" class="number-inp" name="" max="100" min="0" id="" />
                  </div>
                </div>
              </form>
            </td>
            <td class="position-relative py-4">
              <p class="price mt-4">1199.00 грн</p>
              <button class="btn-close cancel-btn position-absolute"></button>
            </td>
          </tr>
          <tr class="product-item">
            <td class="text-center py-4">
              <img src="{% static 'img/t-shirt.png' %}" class="img-fluid product-img" alt="" />
            </td>
            <td class="py-4">
              <p class="name mb-0">Желтое худи</p>
              <p class="categories">худи, одежда</p>
            </td>
            <td class="py-4">
              <form action="" class="filter-form">
                <div class="d-flex gap-5">
                  <div class="d-flex">
                    <select name="" id="">
                      <option value="">XL</option>
                      <option value="">XL</option>
                      <option value="">XL</option>
                      <option value="">XL</option>
                    </select>
                  </div>
                  <div class="d-flex">
                    <select name="" id="">
                      <option value="">Белый</option>
                      <option value="">Желтый</option>
                      <option value="">Красный</option>
                    </select>
                  </div>
                  <div class="d-flex">
                    <input type="number" class="number-inp" name="" max="100" min="0" id="" />
                  </div>
                </div>
              </form>
            </td>
            <td class="position-relative py-4">
              <p class="price mt-4">1199.00 грн</p>
              <button class="btn-close cancel-btn position-absolute"></button>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row checkout">
      <h5 class="title text-center mt-5 mb-5">Оформить заказ</h5>
      <div class="col-6">
        <form class="contact-form pe-5">
          <div class="d-flex flex-column pe-5 gap-4">
            <input type="text" placeholder="Ваше имя" />
            <input type="email" placeholder="Email" />
            <input type="text" placeholder="Телефон" />
            <input type="text" placeholder="Город" />
            <input type="text" placeholder="Отделение" />
          </div>
        </form>
      </div>
      <div class="col-6">
        <div class="d-flex gap-5">
            <div>
                <p class="subtitle">Доставка</p>
                <div>
                    <div>
                        <input class="form-check-input radio-inp" type="checkbox" id="opt1" name="delivery" />
                        <label for="opt1">Самовывоз</label><br />
                    </div>
                    <div class="mt-2">
                        <input class="form-check-input radio-inp" type="checkbox" id="opt2" name="delivery"  />
                        <label for="opt2">Новая почта</label><br />
                    </div>
                </div>
            </div>
            <div class="ms-4">
                <p class="subtitle">Оплата</p>
                <div>
                    <div>
                        <input class="form-check-input radio-inp" type="checkbox" id="op1" name="delivery" />
                        <label for="op1">Наложеный платёж</label><br />
                    </div>
                    <div class="mt-2">
                        <input class="form-check-input radio-inp" type="checkbox" id="op2" name="delivery"  />
                        <label for="op2">Безналичный</label><br />
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-5 prices">
            <p class="m-0">Заказ: <span>1100 грн</span></p>
            <p class="m-0 mt-2">Доставка: <span>50 грн</span></p>
        </div>
        <p class="m-0 mt-2 overall-price mt-3">Итого: <span>1150 грн</span></p>
        <button type="submit" class="buy-btn">Оформить заказ</button>
      </div>
    </div>
  </div>

{% endblock %}
